.services {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0rem;
}

.servicesContent {
  width: 70%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.serviceCardTitle{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}

.serviceCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 1rem;
  width: 20rem;
  height: max-content;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.034);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.096) 0%, rgba(147, 147, 147, 0.048) 100%);
  backdrop-filter: blur(10px);
  padding: 2rem;
}

@property --gradient-angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}



.serviceCard::after{
  pointer-events: none;
  opacity: 0;
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-5));
  border-radius: inherit;
  filter: blur(3.5rem);
  animation: rotation 12s linear infinite;
  transition: all .5s ease-in-out;
}

.serviceCard:hover::after{
  opacity: 1;
}

@keyframes rotation {
  0% {--gradient-angle: 0deg;}
  100% {--gradient-angle: 360deg;}
}

.serviceCardsRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: max-content;
}

.serviceCardTitle img{
  width: 2rem;
}

/* Estilos generales para todos los dispositivos */

/* Estilos para tablets */
@media screen and (max-width: 1124px) {
  .servicesContent{
    width: 90%;
  }

  .serviceCardsRow{
    width: 90%;
    justify-content: center;
  }
}

/* Estilos para teléfonos */
@media screen and (max-width: 767px) {
  .servicesContent {
      width: 90%;
    }

    .serviceCardsRow {
      width: 90%;
      justify-content: center;
      flex-direction: column;
    }
}