nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.navTop{
  position: fixed;
  top: 0%;
  width: 100%;
  height: 10vh;
  padding: 0rem 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%);
    backdrop-filter: blur(15px);
}

.navTop ul{
  display: flex;
  gap: 2rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.navTop ul a{
  transition: all 0.4s ease-in-out;
}

.navTop ul a:hover{
  font-weight: 700;
  color: var(--color-active);
}

.navBott{
  position: absolute;
  top: 80%;
  width: 85%;
    height: max-content;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para tablets */
@media screen and (max-width: 1124px) {
  .navTop{
    width: 90%;
  }

  .navBott{
    display: none;
    width: 90%;
  }
}

/* Estilos para teléfonos */
@media screen and (max-width: 767px) {
.navTop svg{
  width: 80%;
}
}